header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#header_left, #header_right{
    display: flex;
    height : 100px;
    width : 300px;
    font-size: 50px;
    align-items: center;
    padding-left: 20px;
    font-weight: 900;
}
#header_left > h1{
    margin-left: 18px;
}
#header_right > h1{
    margin-left : 35px;
}
#gallery{
    height : 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;

}
#gallery > img:first-child{
    width : 100vh;
}
#gallery  h2{
    font-size: 32px;
    font-weight: 800;
}
#gallery > div > img{
    position: absolute;
    left : 1550px;
    top : 860px;
}
#container{
    margin : 0 auto;
    width : 65%;
}
#company{
    width : 100%;
    padding-bottom: 150px;
    border-bottom: 1px gainsboro solid;
}
#company > img{
    float: left;
    margin-left: 10px;
}
#company > p{
    font-size: 34px;
    line-height: 130%;
}
#company button{
    display: flex;
    margin-top : 10px;
    border : none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
@keyframes move_to_right{
    100%{
        transform: translateX(5px);
    }
}
#company button:hover span{
    display: block;
    animation: move_to_right 0.2s linear forwards;
}
#grid_items{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 380px);
}
.grid_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    padding-top : 20px;
    border-bottom: 1px gainsboro solid;
}
.par_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
}
.par_part h3{
    font-size: 23px;
    font-weight: 800;
}
.par_part p{
    font-size: 32px;
    line-height: 150%;
    font-weight: 500;
}
.learn{
    cursor: pointer;
    width : 135px;
    height : 40px;
    border : 1px gainsboro solid;
    border-radius: 2em;
    font-weight: 600;
    transition: color 0.3s linear, background-color 0.3s linear;
}
.learn:hover{
    background-color: black;
    color : white;
}
.img_part{
    background-image: url("https://schwartzmedia.com.au/media/pages/home/2488058241-1587514798/2019-schwartz-offices-5-600x.jpg");
    background-size: cover;
    margin-right: 30px;
}
#call{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height : 220px;
    margin-bottom: 115px;
    margin-top: 20px;
}
#call div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#call h3{
    font-size: 23px;
    font-weight: 800;
}
#call p{
    font-size: 23px;
    line-height: 150%;
    font-weight: 500;
}
footer{
    height: 315px;
    background-color: #464646;
    padding-bottom: 35px;
}
footer > div{
    display: flex;
    flex-direction: row;
    margin : 0 auto;
    width : 65%;
    height: 100%;
    justify-content: space-between;
    padding-top: 30px;
}
footer > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}
footer ul{
    margin-bottom: 30px;
}
footer h1{
    color : white;
    font-weight: 700;
}
footer > div  ul li{
    color : white;
    font-weight: 700;
}
#copyright{
    color : white;
    font-weight: 700;
}
footer button{
    display: block;
    font-weight: 700;
    height : 20px;
    border : none;
    background-color: transparent;
    color : white;
}
footer h1{
    font-size: 28px;
}