header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#header_left, #header_right{
    display: flex;
    height : 100px;
    width : 300px;
    font-size: 50px;
    align-items: center;
    padding-left: 20px;
    font-weight: 900;
}
#header_left > h1{
    margin-left: 18px;
}
#header_right > h1{
    margin-left : 35px;
}
#gallery{
    height : 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;

}
#gallery > img:first-child{
    width : 100vh;
}
#gallery  h2{
    font-size: 32px;
    font-weight: 800;
}
#gallery > div > img{
    position: absolute;
    left : 1550px;
    top : 860px;
}
#container{
    margin : 0 auto;
    width : 65%;
}
#company{
    width : 100%;
}
#company > img{
    float: left;
    margin-left: 10px;
}
#company > p{
    font-size: 34px;
    line-height: 130%;
}
#company button{
    display: flex;
    margin-top : 10px;
    border : none;
    font-size: 20px;
    font-weight: 600;
}
@keyframes move_to_right{
    100%{
        transform: translateX(5px);
    }
}
#company button:hover span{
    display: block;
    animation: move_to_right 0.2s linear forwards;
}