#container{
    display : grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 400vh;
}
#left{
    background-color: chartreuse;
    grid-row : 1 / -1;
}
#right{
    display: grid;
    grid-template-rows: repeat(5, 80vh);
    gap : 10px;
}
#right > div{
    background-color: cyan;
    font-size: 300px;
}
